{{#extend "css"}}
	<link rel='stylesheet' href='/css/bootstrap-colorpicker/bootstrap-colorpicker.css'>
	<link rel='stylesheet' href='/css/line.css'>
	<style>
	#over img {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	</style>
{{/extend}}

<div id="body" ng-app="rose" ng-controller="info" hidden>
	{{> sidebar}}
	<div id="page-wrapper">
		<form id="info-form">
			<div class="row">
				<div class="col-xs-4 col-xs-offset-8 h4" align="right">
					{{#if roseId}}
						<input type="text" ng-model="definedId" maxlength="50" name="definedId" id="definedId" required hidden/>
						Mã giống hoa: <span>{definedId}</span>
					{{/if}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12" id="warning" align="right" style="font-size:18px; color:orange;" hidden>
					Kết nối mạng không ổn định, dữ liệu có thể không được lấy đầy đủ
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="h2" style="padding-top:15px;">
						Các thông tin cơ bản
					</div>
				</div>
				{{#ifIntersect roles "[stech]"}}
					{{#if roseId}}
						<div class="col-xs-6" align="right" style="padding-top:30px;">
							<button type="button" id="reject-btn" class="btn btn-danger btn-lg">Từ chối</button>
						</div>
					{{/if}}
				{{/ifIntersect}}
			</div>
			</br>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Tên giống hoa: </label>
						<span ng-bind="name"></span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Tên khoa học</label>
						<span ng-bind="sciname"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Loại: </label>
						<span ng-bind="type"></span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Khả năng kháng bệnh: </label>
						<span ng-bind="tolerance"></span><span>%</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Chiều cao: </label>
						<span ng-bind="heightMin"></span>
						<span> đến </span>
						<span ng-bind="heightMax"></span>
						<span>mét</span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Chiều rộng: </label>
						<span ng-bind="widthMin"></span>
						<span> đến </span>
						<span ng-bind="widthMax"></span>
						<span>mét</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Đường kính hoa</label>
						<span ng-bind="diameterMin"></span>
						<span> đến </span>
						<span ng-bind="diameterMax"></span>
						<span>cm</span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label title="Khoảng thời gian hoa còn tươi">Hoa nở trong </label>
						<span ng-bind="timeMin"></span>
						<span> đến </span>
						<span ng-bind="timeMax"></span>
						<span>ngày</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Số lượng cánh hóa: </label>
						<span ng-bind="numPetalType"></span>
						<span ng-bind="numPetals"></span>
						<span>cánh hoa</span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Màu hoa</label>
						<div>
							<span id="color-tags"></span>
						</div>
					</div>
				</div>
			</div>
			</br>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Miêu tả hương thơm</label>
						<textarea ng-model="fragrance" class="form-control" rows="3" maxlength="150" style="resize:none; background:#FFF;" disabled></textarea>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Miêu tả cánh hoa</label>
						<textarea ng-model="petal" class="form-control" rows="3" maxlength="150" style="resize:none; background:#FFF;" disabled></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Mùa hoa nở</label>
						<textarea ng-model="bloom" class="form-control" rows="3" maxlength="150" style="resize:none; background:#FFF;" disabled></textarea>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Ghi chú</label>
						<textarea ng-model="note" class="form-control" rows="3" maxlength="150" style="resize:none; background:#FFF;" disabled></textarea>
					</div>
				</div>
			</div>
			</br>
			<div class="h2">Thông tin thêm</div>
			</br>
			{{#configPartial 
				'{
					"title":"Danh sách nguồn gốc",
					"id":"table-origins",
					"canAdd": "false",
					"columns":["Nơi lai tạo/phát hiện", "Năm"],
					"rows": []
				}'
			}} {{> basictable this }} {{/configPartial}}
			</br>
			{{#configPartial 
				'{
					"title":"Thông tin sâu bệnh thường gặp",
					"id":"table-pests",
					"canAdd": "false",
					"columns":["Tên sâu bệnh", "Tác nhân", "Dấu hiệu", "Giải pháp"],
					"rows": []
				}'
			}} {{> basictable this }} {{/configPartial}}
			</br>
			<div class="h2">Quy trình chăm sóc tiêu chuẩn</div>
			</br>
			{{#configPartial 
				'{
					"title":"Thông tin kỹ thuật môi trường",
					"id":"table-techInfo",
					"canAdd": "false",
					"columns":["Số ngày tuổi", "Độ ẩm (min)", "Độ ẩm (max)", "Nhiệt độ (min)", "Nhiệt độ (max)", "Độ pH (min)", "Độ pH (max)", "Độ EC (min)", "Độ EC (max)", "Số giờ nắng (min)", "Số giờ nắng (max)"],
					"rows": []
				}'
			}} {{> basictable this }} {{/configPartial}}
			</br>
			{{#configPartial 
				'{
					"title":"Thông tin quá trình sinh trưởng",
					"id":"table-growth",
					"canAdd": "false",
					"columns":["Số ngày tuổi", "Khả năng kháng bệnh (%)", "Chiều cao (m)", "Chiều rộng (m)", "Thời gian kết nụ (ngày)", "Số lượng nụ", "Thời gian ra hoa (ngày)", "Số lượng hoa", "Đường kính hoa (cm)", "Số lượng cánh hoa", "Hương thơm"],
					"rows": []
				}'
			}} {{> basictable this }} {{/configPartial}}
			</br>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group h2">
						<div>Các hình ảnh về giống hoa</div>
						</br>
						<div ng-repeat="img in imgNames" id="over" class="col-xs-6 col-md-2 col-lg-2" center>
							<div ng-if="img.isMain == true">
								<div id="{img.name}" class="selected-border">
									<img src="{img.path}" width="100%" height="120px" />
								</div>
							</div>
							<div ng-if="img.isMain == false">
								<div id="{img.name}" class="normal-border">
									<img src="{img.path}" width="100%" height="120px" />
								</div>
							</div>
						</div>
						<div id="dropzone"></div>
					</div>
				</div>
			</div>
			</br>
			</br></br>
			<div class="row">
				<div class="col-xs-12">
					{{#ifIntersect roles "[stech]"}}
						{{#if roseId}}
							<button type="submit" id="accept-btn" class="btn btn-success btn-block btn-lg">Xác nhận</button>
						{{/if}}
					{{/ifIntersect}}
				</div>
			</div>
		</form>
		</br></br></br></br>
	</div>
	{{> footer}}
</div>

{{> dialog}}

<!-- End Popup -->

{{#extend "js"}}
	<script src="/js/dialog.js"></script>
	<script src="/js/table.js"></script>
	<script>
		let tables = {
			origins: new Table(
				'table-origins',
				['name', 'year']
			),
			pests: new Table(
				'table-pests',
				['name', 'agent', 'sign', 'solution']
			),
			techInfo: new Table(
				'table-techInfo',
				['age', 'moisMin', 'moisMax', 'tempMin', 'tempMax', 'pHMin', 'pHMax', 'ECMin', 'ECMax', 'solarMin', 'solarMax']
			),
			growth: new Table(
				'table-growth',
				['age', 'tolerance', 'height', 'width', 'budTime', 'numBuds', 'flowerTime', 'numFlowers', 'diameter', 'numPetals', 'fragrance']
			)
		}
		let roseApp = angular.module('rose', []);
		roseApp.controller("info", function($scope, $http) {
			if ("{{roseId}}") {
				'{{#ifEqual approve true}}'
					let linkData = "/admin/api/pend-rose/detail/{{roseId}}";
				'{{else}}'
					let linkData = "/admin/api/rose/detail/{{roseId}}";
				'{{/ifEqual}}'
				$http.get(linkData).then(
					function(response) { // success
						let data = response.data;
						$.each(response.data, function(key, value) {
							let table = tables[key];
							if (table) table.addItems(value);
							else $scope[key] = value;
						});
						addColorTags(data.colors);
						$scope.numPetalType = data.numPetalType;
						done();
					}, function(response) { // error
						$("#warning").show();
						done();
					}
				);
			}
		});
		
		roseApp.config(function($interpolateProvider) {
			$interpolateProvider.startSymbol('{');
			$interpolateProvider.endSymbol('}');
		});
		
		function addColorTags(colors) {
			function hexToRgb(hex) {
				var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
				return result ? {
					r: parseInt(result[1], 16),
					g: parseInt(result[2], 16),
					b: parseInt(result[3], 16)
				} : null;
			}
			
			function addColorTag(data) {
				let colorName = data.name;
				let colorHex = data.hex;
				let rgb = hexToRgb(colorHex);
				let textColor = 'white';
				if (rgb.r >= 240 && rgb.r >= 240 && rgb.r >= 240) {
					textColor = 'black';
				}
				
				let html = '<span class="badge" style="color:' + textColor
							+ '; font-size:15px; background-color:'
							+ colorHex + ';">'
							+ colorName +'</span> <span> </span>';
				$('#color-tags').append(html);
			}
			$.each(colors, function(idx, data) {
				addColorTag(data);
			});
		}
		
		function done() {
			let dialog = new Dialog();
			$('#reject-btn').click(function() {
				dialog.preventInvokeDelegate = true;
				let msg = "Bạn chắc chắn muốn từ chối giống hóa này?";
				dialog.show("Xác nhận", msg, "warning", function() {
					$.ajax({
						type: "POST",
						url: "/admin/rose/reject",
						data: { 'roseId': '{{roseId}}' },
						success: function(data) {
							let err = data.err;
							if (err) {
								dialog.show(err.title, err.msg, "failure");
							} else {
								let msg = "Đã từ chối giống hoa thành công";
								dialog.show("Thành công", msg, "success", function() {
									$(location).attr('href', data.url);
								});
							}
						}
					});
				});
			});
			
			$('#accept-btn').click(function(){
				$.ajax({
					type: "POST",
					url: "/admin/rose/accept",
					data: { 'roseId': '{{roseId}}' },
					success: function(data) {
						let err = data.err;
						if (err) {
							dialog.preventInvokeDelegate = true;
							dialog.show(err.title, err.msg, "failure");
						} else {
							let msg = "Đã duyệt giống hoa thành công";
							dialog.show("Thành công", msg, "success", function() {
								$(location).attr('href', data.url);
							});
						}
					},
					error: function(request, status, error) {
						dialog.preventInvokeDelegate = true;
						dialog.show("Lỗi mạng", "Kết nối mạng không ổn định, thêm dữ liệu không thành công", "failure");
					}
				})
			});
			
			$('#body').show();
		}
	</script>
{{/extend}}
