{{#extend "css"}}
	<link rel='stylesheet' href='/css/bootstrap-colorpicker/bootstrap-colorpicker.css'>
	<link rel='stylesheet' href='/css/line.css'>
	<link rel='stylesheet' href='/css/dropzone.css'>
	<link rel='stylesheet' href='/css/rose-detail.css'>
{{/extend}}

<div id="body" ng-app="rose" ng-controller="info" hidden>
	{{> sidebar}}
	<div id="page-wrapper">
		<form id="info-form">
			<div class="row">
				<div class="col-xs-4 col-xs-offset-8 h4" align="right">
					{{#ifIntersect roles "[stech]"}}
						<input type="text" class="form-control" ng-model="definedId" style="text-align:right;" maxlength="50" placeholder="Mã giống hoa" name="definedId" id="definedId" required/>
					{{else}}
						{{#if roseId}}
							<input type="text" ng-model="definedId" maxlength="50" name="definedId" id="definedId" required hidden/>
							Mã giống hoa: <span>{definedId}</span>
						{{else}}
							{{#ifIntersect roles "[tech]"}}
							<input type="text" class="form-control" ng-model="definedId" style="text-align:right;" maxlength="50" placeholder="Mã giống hoa" name="definedId" id="definedId" required/>
							{{/ifIntersect}}
						{{/if}}
					{{/ifIntersect}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12" id="warning" align="right" style="font-size:18px; color:orange;" hidden>
					Kết nối mạng không ổn định, dữ liệu có thể không được lấy đầy đủ
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="h2" style="padding-top:15px;">
						Các thông tin cơ bản
					</div>
				</div>
				{{#ifIntersect roles "[stech]"}}
					{{#if roseId}}
						<div class="col-xs-6" align="right" style="padding-top:30px;">
							<button type="button" id="delete-btn" class="btn btn-danger btn-lg">Xóa</button>
						</div>
					{{/if}}
				{{/ifIntersect}}
			</div>
			</br>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Tên giống hoa *</label>
						<input ng-model="name" type="text" class="form-control" maxlength="50" name="name" id="name" placeholder="Hoa hồng Sadec" required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Tên khoa học</label>
						<input ng-model="sciname" type="text" class="form-control" maxlength="50" name="sciname" id="sciname" placeholder="KFC Sadec">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Loại</label>
						<div class="row">
							<div class="col-md-12">
								<input ng-model="type" class="form-control" type="text" name="type" list="types" style='width:100%;'>
								<datalist id="types">
									<option ng-repeat="x in types">{x}</option>
								</datalist>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Khả năng kháng bệnh (%)</label>
						<input ng-model="tolerance" type="number" step=0.01 class="form-control" name="tolerance" id="tolerance">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Chiều cao (m)</label>
						<div class="row">
							<div class="col-xs-6">
								<input ng-model="heightMin" type="number" step=0.001 class="form-control" name="heightMin" id="heightMin" placeholder="Tối thiểu">
							</div>
							<div class="col-xs-6">
								<input ng-model="heightMax" type="number" step=0.001 class="form-control" name="heightMax" id="heightMax" placeholder="Tối đa">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Chiều rộng (m)</label>
						<div class="row">
							<div class="col-xs-6">
								<input ng-model="widthMin" type="number" step=0.001 class="form-control" name="widthMin" id="widthMin" placeholder="Tối thiểu">
							</div>
							<div class="col-xs-6">
								<input ng-model="widthMax" type="number" step=0.001 class="form-control" name="widthMax" id="widthMax" placeholder="Tối đa">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Đường kính hoa (cm)</label>
						<div class="row">
							<div class="col-xs-6">
								<input ng-model="diameterMin" type="number" step=0.001 class="form-control" name="diameterMin" id="diameterMin" placeholder="Tối thiểu">
							</div>
							<div class="col-xs-6">
								<input ng-model="diameterMax" type="number" step=0.001 class="form-control" name="diameterMax" id="diameterMax" placeholder="Tối đa">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label title="Khoảng thời gian hoa còn tươi">Độ bền của hoa (ngày)</label>
						<div class="row">
							<div class="col-xs-6">
								<input ng-model="timeMin" type="number" class="form-control" name="timeMin" id="timeMin" placeholder="Tối thiểu">
							</div>
							<div class="col-xs-6">
								<input ng-model="timeMax" type="number" class="form-control" name="timeMax" id="timeMax" placeholder="Tối đa">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Số lượng cánh hóa</label>
						<div class="row">
							<div class="col-xs-6">
								<select ng-model="numPetalType" name="numPetalType" class="form-control">
									<option selected="selected">Khoảng</option>
									<option>Nhiều hơn</option>
									<option>Ít hơn</option>
								</select>
							</div>
							<div class="col-xs-6">
								<input ng-model="numPetals" type="number" class="form-control" name="numPetals" id="numPetals" placeholder="45">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Màu hoa</label>
						<button type="button" class="btn btn-primary btn-xs" id="adding-color-btn">+</button>
						<div>
							<span id="color-tags"></span>
						</div>
					</div>
				</div>
			</div>
			</br>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Miêu tả hương thơm</label>
						<textarea ng-model="fragrance" class="form-control" rows="3" maxlength="150" style="resize:none;" name="fragrance" id="fragrance" placeholder="Hoa có hương thơm nhẹ, kích thích"></textarea>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Miêu tả cánh hoa</label>
						<textarea ng-model="petal" class="form-control" rows="3" maxlength="150" style="resize:none;" name="petal" id="petal" placeholder="Cánh hoa dày, có vân gợn sóng"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Mùa hoa nở</label>
						<textarea ng-model="bloom" class="form-control" rows="3" maxlength="150" style="resize:none;" name="bloom" id="bloom" placeholder="Khoảng vào giữa cuối tháng 3"></textarea>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Ghi chú</label>
						<textarea ng-model="note" class="form-control" rows="3" maxlength="150" style="resize:none;" name="note" id="note" placeholder="Cần tưới nhiều nước cho hoa vào những ngày quá nắng"></textarea>
					</div>
				</div>
			</div>
			</br>
			<div class="h2">Thông tin thêm</div>
			</br>
			{{#configPartial 
				'{
					"title":"Danh sách nguồn gốc",
					"id":"table-origins",
					"canAdd": "true",
					"columns":["Nơi lai tạo/phát hiện", "Năm"],
					"rows": []
				}'
			}} {{> basictable this }} {{/configPartial}}
			</br>
			{{#configPartial 
				'{
					"title":"Thông tin sâu bệnh thường gặp",
					"id":"table-pests",
					"canAdd": "true",
					"columns":["Tên sâu bệnh", "Tác nhân", "Dấu hiệu", "Giải pháp"],
					"rows": []
				}'
			}} {{> basictable this }} {{/configPartial}}
			</br>
			<div class="h2">Quy trình chăm sóc tiêu chuẩn</div>
			</br>
			{{#configPartial 
				'{
					"title":"Thông tin kỹ thuật môi trường",
					"id":"table-techInfo",
					"canAdd": "true",
					"columns":["Số ngày tuổi", "Độ ẩm (min)", "Độ ẩm (max)", "Nhiệt độ (min)", "Nhiệt độ (max)", "Độ pH (min)", "Độ pH (max)", "Độ EC (min)", "Độ EC (max)", "Số giờ nắng (min)", "Số giờ nắng (max)"],
					"rows": []
				}'
			}} {{> basictable this }} {{/configPartial}}
			</br>
			{{#configPartial 
				'{
					"title":"Thông tin quá trình sinh trưởng",
					"id":"table-growth",
					"canAdd": "true",
					"columns":["Số ngày tuổi", "Khả năng kháng bệnh (%)", "Chiều cao (m)", "Chiều rộng (m)", "Thời gian kết nụ (ngày)", "Số lượng nụ", "Thời gian ra hoa (ngày)", "Số lượng hoa", "Đường kính hoa (cm)", "Số lượng cánh hoa", "Hương thơm"],
					"rows": []
				}'
			}} {{> basictable this }} {{/configPartial}}
			</br>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group h2">
						<div>Các hình ảnh về giống hoa</div>
						<div style="padding-top: 20px; padding-bottom:10px;"><small>(Kéo và thả hoặc Nhấn vào ô bên dưới để thêm hình)</small></div>
						<div id="dropzone"></div>
					</div>
				</div>
			</div>
			</br>
			</br></br>
			<div class="row">
				<div class="col-xs-12">
					{{#if roseId}}
						<button type="submit" id="update-btn" class="btn btn-warning btn-block btn-lg">Cập nhật</button>
					{{else}}
						<button type="submit" id="submit-btn" class="btn btn-success btn-block btn-lg">Thêm</button>
					{{/if}}
				</div>
			</div>
		</form>
		</br></br></br></br>
	</div>
	{{> footer}}
</div>

<!-- Popup -->
<div id="color-popup" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="col-xs-12" style="background-color:#3F51B5">
				<div class="col-xs-12 h3" align="center" style="color:white;" id="a-flag">
					Thêm màu hoa
				</div>
				<div class="col-xs-12 h3" align="center" style="color:white;" id="u-flag">
					Cập nhật màu hoa
				</div>
			</div>
			</br></br></br>
			<div class="col-xs-4 col-xs-offset-8" align="center" id="u-flag">
				<button type="button" id="color-delete-btn" class="btn btn-danger btn-block btn-xs">Xóa</button>
			</div>
			</br></br>
			<form id="color-form">
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<label>Tên màu</label>
							<input class="form-control" id="name" type="text" maxlength="20" list="colors-list" name="name"/>
							<datalist id="colors-list"></datalist>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<label>Chọn màu</label>
							<div id="color-picker" data-format="hex" class="input-group colorpicker-component">
								<input type="text" name="hex" id="hex" value="#00AABB" class="form-control" />
								<span class="input-group-addon"><i></i></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1" id="warning" align="center" style="padding-bottom:10px; color:orange;" hidden>
						Tên màu đã tồn tại
					</div>
				</div>
			</form>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1" id="a-flag">
					<button type="button" id="color-done-btn" class="btn btn-success btn-block">Xong</button>
				</div>
				<div class="col-xs-10 col-xs-offset-1" id="u-flag">
					<button type="button" id="color-update-btn" class="btn btn-warning btn-block">Cập nhật</button>
				</div>
			</div>
			</br></br>
		</div>
	</div>
</div>

<div id="origin-popup" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="col-xs-12" style="background-color:#3F51B5">
				<div class="col-xs-12 h3" align="center" style="color:white;" id="a-flag">
					Thêm nguồn gốc
				</div>
				<div class="col-xs-12 h3" align="center" style="color:white;" id="u-flag">
					Cập nhật nguồn gốc
				</div>
			</div>
			</br></br></br>
			<div class="col-xs-2 col-xs-offset-10" align="center" id="u-flag">
				<button type="button" id="origin-delete-btn" class="btn btn-danger btn-block">Xóa</button>
			</div>
			</br></br>
			<form id="origin-form">
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<label>Nơi lai tạo/phát hiện</label>
							<input class="form-control" type="text" maxlength="50" list="origins-list" name="name" id="name"/>
							<datalist id="origins-list">
							</datalist>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<label>Năm</label>
							<input class="form-control" type="number" step=0 name="year" id="year"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1" id="warning" align="center" style="padding-bottom:10px; color:orange;" hidden>
						Nơi lai tạo/phát hiện đã tồn tại
					</div>
				</div>
			</form>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1" id="a-flag">
					<button type="button" id="origin-done-btn" class="btn btn-success btn-block">Xong</button>
				</div>
				<div class="col-xs-10 col-xs-offset-1" id="u-flag">
					<button type="button" id="origin-update-btn" class="btn btn-warning btn-block">Cập nhật</button>
				</div>
			</div>
			</br></br>
		</div>
	</div>
</div>

<div id="pests-popup" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="col-xs-12" style="background-color:#3F51B5">
				<div class="col-xs-12 h3" align="center" style="color:white;"  id="a-flag">
					Thêm sâu bệnh thường gặp
				</div>
				<div class="col-xs-12 h3" align="center" style="color:white;" id="u-flag">
					Cập nhật sâu bệnh
				</div>
			</div>
			</br></br></br>
			<div class="col-xs-2 col-xs-offset-10" align="center" id="u-flag">
				<button type="button" id="pests-delete-btn" class="btn btn-danger btn-block">Xóa</button>
			</div>
			</br></br>
			<form id="pests-form">
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<label>Tên sâu bệnh</label>
							<input class="form-control" type="text" maxlength="50" list="pests-list" name="name" id="name"/>
							<datalist id="pests-list">
							</datalist>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<label>Tác nhân</label>
							<input class="form-control" type="text" maxlength="50" name="agent" id="agent"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<label>Dấu hiệu</label>
							<input class="form-control" type="text" maxlength="50" name="sign" id="sign"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<label>Giải pháp</label>
							<input class="form-control" type="text" maxlength="50" name="solution" id="solution"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1" id="warning" align="center" style="padding-bottom:10px; color:orange;" hidden>
						Tên sâu bệnh đã tồn tại
					</div>
				</div>
			</form>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1" id="a-flag">
					<button type="button" id="pests-done-btn" class="btn btn-success btn-block">Xong</button>
				</div>
				<div class="col-xs-10 col-xs-offset-1" id="u-flag">
					<button type="button" id="pests-update-btn" class="btn btn-warning btn-block">Cập nhật</button>
				</div>
			</div>
			</br></br>
		</div>
	</div>
</div>

<div id="techInfo-popup" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="col-xs-12" style="background-color:#3F51B5">
				<div class="col-xs-12 h3" align="center" style="color:white;" id="a-flag">
					Thêm thông tin kỹ thuật
				</div>
				<div class="col-xs-12 h3" align="center" style="color:white;" id="u-flag">
					Cập nhật thông tin kỹ thuật
				</div>
			</div>
			</br></br></br>
			<div class="col-xs-2 col-xs-offset-10" align="center" id="u-flag">
				<button type="button" id="techInfo-delete-btn" class="btn btn-danger btn-block">Xóa</button>
			</div>
			</br></br>
			<form id="techInfo-form">
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<label>Số ngày tuổi</label>
							<input class="form-control" type="number" step=0 name="age" id="age"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<label>Độ ẩm</label>
							<div class="row">
								<div class="col-xs-6">
									<input class="form-control" type="number" step=0.001 name="moisMin" id="moisMin" placeholder="Tối thiểu"/>
								</div>
								<div class="col-xs-6">
									<input class="form-control" type="number" step=0.001 name="moisMax" id="moisMax" placeholder="Tối đa"/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<label>Nhiệt độ</label>
							<div class="row">
								<div class="col-xs-6">
									<input class="form-control" type="number" step=0.001 name="tempMin" id="tempMin" placeholder="Tối thiểu"/>
								</div>
								<div class="col-xs-6">
									<input class="form-control" type="number" step=0.001 name="tempMax" id="tempMax" placeholder="Tối đa"/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<label>Độ pH</label>
							<div class="row">
								<div class="col-xs-6">
									<input class="form-control" type="number" step=0.001 name="pHMin" id="pHMin" placeholder="Tối thiểu"/>
								</div>
								<div class="col-xs-6">
									<input class="form-control" type="number" step=0.001 name="pHMax" id="pHMax" placeholder="Tối đa"/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<label>Độ EC</label>
							<div class="row">
								<div class="col-xs-6">
									<input class="form-control" type="number" step=0.001 name="ECMin" id="ECMin" placeholder="Tối thiểu"/>
								</div>
								<div class="col-xs-6">
									<input class="form-control" type="number" step=0.001 name="ECMax" id="ECMax" placeholder="Tối đa"/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<label>Số giờ nắng cần thiết</label>
							<div class="row">
								<div class="col-xs-6">
									<input class="form-control" type="number" step=0.001 name="solarMin" id="solarMin" placeholder="Tối thiểu"/>
								</div>
								<div class="col-xs-6">
									<input class="form-control" type="number" step=0.001 name="solarMax" id="solarMax" placeholder="Tối đa"/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1" id="warning" align="center" style="padding-bottom:10px; color:orange;" hidden>
						Số ngày tuổi đã tồn tại
					</div>
				</div>
			</form>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1" id="a-flag">
					<button type="button" id="techInfo-done-btn" class="btn btn-success btn-block">Xong</button>
				</div>
				<div class="col-xs-10 col-xs-offset-1" id="u-flag">
					<button type="button" id="techInfo-update-btn" class="btn btn-warning btn-block">Cập nhật</button>
				</div>
			</div>
			</br></br>
		</div>
	</div>
</div>

<div id="growth-popup" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="col-xs-12" style="background-color:#3F51B5">
				<div class="col-xs-12 h3" align="center" style="color:white;" id="a-flag">
					Thêm quá trình sinh trưởng
				</div>
				<div class="col-xs-12 h3" align="center" style="color:white;" id="u-flag">
					Cập nhật quá trình sinh trưởng
				</div>
			</div>
			</br></br></br>
			<div class="col-xs-2 col-xs-offset-10" align="center" id="u-flag">
				<button type="button" id="growth-delete-btn" class="btn btn-danger btn-block">Xóa</button>
			</div>
			</br></br>
			<form id="growth-form">
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<div class="row">
								<div class="col-xs-6">
									<label>Số ngày tuổi</label>
									<input class="form-control" type="number" step=0 name="age" id="age"/>
								</div>
								<div class="col-xs-6">
									<label>Kháng bệnh (%)</label>
									<input type="number" step=0.01 class="form-control" name="tolerance" id="tolerance">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<div class="row">
								<div class="col-xs-6">
									<label>Chiều cao (m)</label>
									<input type="number" step=0.001 class="form-control" name="height" id="height">
								</div>
								<div class="col-xs-6">
									<label>Chiều rộng (m)</label>
									<input type="number" step=0.001 class="form-control" name="width" id="width">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<div class="row">
								<div class="col-xs-6">
									<label>Thời gian kết nụ (ngày)</label>
									<input type="number" class="form-control" name="budTime" id="budTime">
								</div>
								<div class="col-xs-6">
									<label>Số lượng nụ</label>
									<input type="number" class="form-control" name="numBuds" id="numBuds">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<div class="row">
								<div class="col-xs-6">
									<label>Thời gian ra hoa (ngày)</label>
									<input type="number" class="form-control" name="flowerTime" id="flowerTime">
								</div>
								<div class="col-xs-6">
									<label>Số lượng hoa</label>
									<input type="number" class="form-control" name="numFlowers" id="numFlowers">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<div class="row">
								<div class="col-xs-6">
									<label>Đường kính hoa (cm)</label>
									<input type="number" step=0.001 class="form-control" name="diameter" id="diameter">
								</div>
								<div class="col-xs-6">
									<label>Số lượng cánh hoa</label>
									<input type="number" class="form-control" name="numPetals" id="numPetals">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<div class="row">
								<div class="col-xs-12">
									<label>Miêu tả hương thơm</label>
									<textarea class="form-control" rows="3" maxlength="150" style="resize:none;" name="fragrance" id="fragrance" placeholder="Hoa có hương thơm nhẹ, kích thích"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1" id="warning" align="center" style="padding-bottom:10px; color:orange;" hidden>
						Số ngày tuổi đã tồn tại
					</div>
				</div>
			</form>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1" id="a-flag">
					<button type="button" id="growth-done-btn" class="btn btn-success btn-block">Xong</button>
				</div>
				<div class="col-xs-10 col-xs-offset-1" id="u-flag">
					<button type="button" id="growth-update-btn" class="btn btn-warning btn-block">Cập nhật</button>
				</div>
			</div>
			</br></br>
		</div>
	</div>
</div>

{{> dialog}}

<!-- End Popup -->

{{#extend "js"}}
	<script src="/js/rx/rx.js"></script>
	<script src="/js/bootstrap-colorpicker/bootstrap-colorpicker.js"></script>
	<script src="/js/dropzone.js"></script>
	<script src="/js/rose-detail.js"></script>
	<script src="/js/rose-dropzone.js"></script>
	<script src="/js/dialog.js"></script>
	<script>
		let roseApp = angular.module('rose', []);
		roseApp.controller("info", function($scope, $http) {
			let info = {};
			
			function getGeneralInfo() {
				function done() {
					new RoseDropzone("dropzone",
									"/admin/rose/image/upload/{{userId}}",
									"/admin/rose/image/undo/{{userId}}").subscribe(info.imgNames, {
						ready: function() {
							info.submitLink = "{{submitLink}}";
							if (!info.submitLink) info.submitLink = "";
							info.deleteLink = "{{deleteLink}}";
							if (!info.deleteLink) info.deleteLink = "";
							ready(info);
							$('#body').show();
						},
						hadMainImgName: function(mainImgName) {
							window.data.mainImgName = mainImgName;
							info.mainImgName = mainImgName
						},
						add: function(imgName) {
							window.data.imgNames.push(imgName);
						},
						remove: function(imgName) {
							let idx = window.data.imgNames.indexOf(imgName);
							if (idx > -1) {
								window.data.imgNames.splice(idx, 1);
								if (window.data.imgNames.length > 0) {
									return window.data.imgNames[0];
								}
							}
							return '';
						}
					});
				}
				
				info.colorNames = {};
				info.originNames = [];
				info.pestsNames = [];
				$http.get("/admin/api/rose/general").then(
					function(response) { // success
						info.colorNames = response.data.colorNames;
						info.originNames = response.data.originNames;
						info.pestsNames = response.data.pestsNames;
						$scope.types = response.data.types;
						done();
					},
					function(response) {  // error
						$("#warning").show();
						done();
					}
				);
			}
			if ("{{roseId}}") {
				$http.get("/admin/api/rose/detail/{{roseId}}").then(
					function(response) { // success
						let data = response.data;
						$.each(response.data, function(key, value) {
							$scope[key] = value;
						});
						$scope.numPetalType = data.numPetalType;
						info = data;
						info.roseId = "{{roseId}}";
						getGeneralInfo();
					}, function(response) { // error
						$("#warning").show();
						getGeneralInfo();
					}
				);
			} else {
				$scope.numPetalType = "Khoảng";
				info.origins = [];
				info.techInfo = [];
				info.pests = [];
				info.colors = [];
				info.growth = [];
				getGeneralInfo();
			}
		});
		
		roseApp.config(function($interpolateProvider) {
			$interpolateProvider.startSymbol('{');
			$interpolateProvider.endSymbol('}');
		});
	</script>
{{/extend}}
