{{#extend "css-partial"}}
	
{{/extend}}

<div class="panel panel-default">
	<div class="panel-heading">
		{{#ifEqual canAdd "true"}}
			<div class="row">
				<div class="col-xs-10" style="padding-top:10px">
					<label>{{title}}</label>
				</div>
				<div class="col-xs-2">
					<button type="button" class="btn btn-primary btn-block" id="{{id}}-add-btn">Thêm</button>
				</div>
			</div>
		{{else}}
			<label>{{title}}</label>
		{{/ifEqual}}
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover" id="{{id}}">
				<thead>
					<tr>
						{{#each columns}}
							<th style="text-align:center;">{{this}}</th>
						{{/each}}
					</tr>
				</thead>
				<tbody id="{{id}}-rows">
					{{#each rows}}
						<tr class="{{this.state}}">
							{{#each this.columns}}
								<td style="text-align:center;">{{this}}</td>
							{{/each}}
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		<!-- /.table-responsive -->
	</div>
	<!-- /.panel-body -->
</div>

{{#extend "js-partial"}}
{{/extend}}
