{{#extend "css"}}
	<link href="/css/4-col-portfolio.css" rel="stylesheet">
	<style>
		review {
			div .review {
				overflow: auto;
			}
		}
		.top-bar {
			position:fixed;
			top:0;
			left:0;
			right:0;
			height:80px;
			background:#212121;
			color:white;
			z-index:1000;
		}
	</style>
{{/extend}}

<div class="container-fluid">
	<div id="list">
		{{> userheader}}
		<div class="row">
			{{#if roses}}
			{{else}}
				<div class="h1" align="center">Hiện tại chưa có giống hoa nào</div>
				</br></br></br></br>
			{{/if}}
			{{#each roses}}
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 portfolio-item">
				<div class="card h-100">
					<div class="imageAndText">
						<div style="cursor:pointer;">
							<img onclick="roseClicked('{{this.id}}', '{{this.name}}')" style="position:relative;" class="card-img-top b-lazy" src="/images/rose/{{this.imgsrc}}" height="220px" width="100%">
						</div>
						<div class="tag col">
							<div class="col-xs-10">
								{{this.name}}
							</div>
							<div class="col-xs-2" align="right">
								<span onclick="roseLoved('{{this.id}}', '{{this.name}}')" class="love glyphicon glyphicon-heart" style="cursor:pointer;"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	<!-- /.row -->

	<!-- Pagination -->
		{{#if roses}}
		<div class="row" align="center">
			<ul class="pagination">
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
					<span class="sr-only">Previous</span>
					</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">1</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">2</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">3</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
					<span class="sr-only">Next</span>
					</a>
				</li>
			</ul>
		</div>
		{{/if}}
	</div>

	<div id="review" hidden>
		<div id="review-empty" class="h1" align="center" style="background-color:#FFF8E1;">
			Không tải được nội dung bài viết
			</br></br></br></br></br></br>
		</div>
		<div id="review-content" style="background-color:#FFF8E1;" class="review col-xs-12"></div>
		<div class="row top-bar">
			<div class="col-xs-12">
				<div class="h1">
					<div id="back-btn" style="cursor:pointer;" class="col-xs-2 glyphicon glyphicon-arrow-left"></div>
					<div class="col-xs-10" id="review-title" align="right"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
{{> footer}}
</div>

{{#extend "js"}}
	<script src="/js/blazy.min.js"></script>
	<script src="/js/tether.min.js"></script>
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/bootstrap4.6/bootstrap.min.js"></script>
	<script>
		var bLazy = new Blazy();
		let listPosition;
		function showList() {
			$('#list').show();
			$('#review').hide();
			$(window).scrollTop(listPosition);
		}
		
		function showReview() {
			$('#list').hide();
			$('#review').show();
			listPosition = $(document).scrollTop();
			$(window).scrollTop(0);
		}
		
		$('#back-btn').click(function() {
			showList();
		});
		
		$("card").css("height", "250px");
		function roseClicked(roseId, roseName) {
			$.ajax({
				type: "GET",
				url: '/api/review/' + roseId,
				success: function(data) {
					let review = data.review;
					$('#review-title').text(roseName);
					$('#review-content').empty();
					if (review.length == 0) {
						$('#review-empty').css("padding-top", "95px");
						$('#review-empty').show();
					} else {
						$('#review-content').css("padding-top", "95px");
						$('#review-content').css("padding-bottom", "15px");
						$('#review-empty').hide();
						$('#review-content').append(review);
					}
					showReview();
				},
				error: function(request, status, error) {
					$('#review-empty').css("padding-top", "95px");
					$('#review-empty').show();
				}
			})
		}
		
		function roseLoved(roseId, roseName) {
			alert("Loved " + roseId);
		}
	</script>
{{/extend}}
